{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h2>Veuillez remplir la section <span>LOISIR</span> de votre CV!</h2>

        <form method="post">

            <div class="form-group">

                {{ form(form) }}

                <button type="submit">Continue</button>

            </div>
        </form>

    </div>


{% endblock %}
{% block javascripts %}{% endblock %}